<section id="footer">
    <img src="/media/tmp_957e1589-ad9f-4f77-9843-512b7d32618d.png" alt="" id="footer-border">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <% if(username!=='hello'){%>
                <img src="/media/poornima.png" alt="" id="footer-logo">
                
            </div>
            <div class="col-md-4">
                <h2>POORNIMA GROUP OF COLLEGE</h2>
                <P><i class="bi bi-geo-alt"></i><span>ISI-2 Poornima Marg,Sitapura,Jaipur</span></P>
                <p><i class="bi bi-phone"></i><span>9627365783</span></p>
                <p><i class="bi bi-telephone"></i><span>1200002344-43767235125</span></p>


            </div>
            <div class="col-md-4">
                <h2>Query form</h2>
                <form action="/contactrecord" method="post">
                    <input type="email" name="email" id="" class="form-control" placeholder="Enter Email">
                    <textarea name="query" id="" class="form-control mt-2 mb-2" placeholder="Enter Query"></textarea>
                    <button type="submit" class="btn btn-success form-control">submit</button>

                </form>
            </div>
        </div>
    </div>






    <div class=" container">
        <div class="row text-center">
            <div class="col-md-12">
                <img src="/media/33322035211_e34d9b83e9_b.jpg" alt="">
                <img src="/media/5674089247_de2c03147e_b.jpg" alt="">
                <img src="/media/6206922263_b033bea363_b.jpg" alt="">
                <img src="/media/6289022234_7591292ef5_b.jpg" alt="">
            </div>


        </div>
    </div>
    <%}%>
</section>