<div class="col-md-3">
    <a href="/admin/dashboard"><button class= "btn btn-success form-control mt-3">Dashboard</button></a>
    <a href="/admin/banner"><button class= "btn btn-success form-control mt-3">Banner page</button></a>
    <a href="/admin/contact"><button class= "btn btn-success form-control mt-3">Query page</button></a>
    <a href="/admin/contact"><button class= "btn btn-success form-control mt-3">Adress Management</button></a>
    <a href="/admin/userreview"><button class= "btn btn-success form-control mt-3">User Review</button></a>
    <a href="/admin/user"><button class= "btn btn-success form-control mt-3">User Mnagement</button></a>
    <a href="/admin/service"><button class= "btn btn-success form-control mt-3">Services Mnagement</button></a>
    <a href="/admin/parking"><button class= "btn btn-success form-control mt-3">Parking Mnagement</button></a>
</div>